name: CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build BootJar
        run: ./gradlew clean bootJar -x test --no-daemon

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app.jar
          path: build/libs/*.jar

  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: app.jar
          path: .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/olllim:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/olllim:latest

  deploy:
    needs: docker # docker job이 성공해야 실행됨
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Make Zip File
        run: |
          echo "${{ secrets.ENV_PROD }}" > .env.prod
          printf '%s' "${{ secrets.GOOGLE_STT_KEY }}" > google-stt-key.json
          zip -r ./olllim-deploy.zip appspec.yml docker-compose.yml .env.prod run.sh google-stt-key.json

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.S3_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.S3_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: aws s3 cp olllim-deploy.zip s3://${{ secrets.BUCKET_NAME }}/olllim-deploy.zip

      - name: Create Deployment
        run: |
          aws deploy create-deployment \
            --application-name ${{ secrets.CODE_DEPLOY_APP_NAME }} \
            --deployment-config-name CodeDeployDefault.OneAtATime \
            --deployment-group-name ${{ secrets.CODE_DEPLOY_GROUP_NAME }} \
            --s3-location bucket=${{ secrets.BUCKET_NAME }},bundleType=zip,key=olllim-deploy.zip